{% extends 'base.html.twig' %}

{% block title %}Galerie vidéo{% endblock %}

{% block body %}
<style>
    /* ==================================================
   PAGE GALERIES
================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
 	only screen and (-moz-min-device-pixel-ratio: 2),
 	only screen and (min-device-pixel-ratio: 2),
 	only screen and (min-resolution: 2dppx) {
}
@media screen and (min-width: 320px) and (max-width: 1920px){	
    #bloc-galeries{
        position :relative;
        background:url(../img/angeliquecalfatidotcom_motif-n.gif) repeat left top;
        background-size:8px 8px;
        width:100%;
        height:100vh;
        padding-top:38px;
    }
    h3.galerie-p1{
        padding:30px 15px 19px;
        font-weight: 500;
    }
    p.galerie-p1{
        padding:10px 15px 10px;
        font-weight: 500;
        color:#e0dccc;
        font-size:12px;
        line-height: 18px;
        width:100%;
        height:105px;
        background-color:#730012;
    }
    .galerie-p1 span{
        font-weight: 600;
    }
    p.galerie-p2{
        padding:0 15px;
        font-weight: 500;
        color:#e0dccc;
    }
}
/*  @media screen and (min-width: 768px) and (max-width: 834px) and (orientation: portrait){	
}
@media screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: portrait) {	
}
@media screen and (min-width: 1367px) and (max-width: 1920px) and (orientation: landscape) {
} */
</style>

<section id="work">
    <header>
        <div class="logo1"></div>
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a> <!--id=mobile-nav désigne le display de la version mobile du menu // .menu-nav est l'icon hamburger-->
        <div class="sticky-nav logo3 logo2"> </div><!-- class dénommée en fonction du waypoint (js) d'appel pour appliquer le menu fixe (avec .stuck) selon l'évvénement scroll avec le logo3 (sans baseline et sans arabesque pour mobile... logo2 pour tablette et desktop) -->
        <nav id="menu"> <!-- id, spécifié pour le display de la version desktop du menu-->
            <ul id="menu-nav"> <!-- appel de l'id "menu-nav" placé ici (l'id ne sert pas sans ce lien), en relation avec le href de 'a' 'id' "mobile-nav" -->
                <li><a href="{{ path('accueil')}}">ACCUEIL<br><img src="img/mobile/mobile-menu-arabesque_4e473e.png"></a></li>
                <li><a href="#shop">BOUTIQUE<br><img src="img/mobile/mobile-menu-pattern_4e473e.png"></a></li>
                <li><a href="#news">ATELIERS<br><img src="img/mobile/mobile-menu-arabesque_4e473e.png"></a></li>
                <li><a href="#service">SERVICES<br><img src="img/mobile/mobile-menu-pattern_4e473e.png"></a></li>
                <li><a class="current" href="{{ path('galerie')}}">GALERIES<br><img src="img/mobile/mobile-menu-arabesque_fffae4.png"></a></li>
                <li><a href="#about">ACTIVITÉS<br><img src="img/mobile/mobile-menu-pattern_4e473e.png"></a></li>
                <li><a href="#contact" data-toggle="modal" data-target="#staticBackdrop">CONTACT<br><img src="img/mobile/mobile-menu-arabesque_4e473e.png"></a></li>
            </ul>
        </nav>
    </header> 
    <div id="bloc-galeries">
        <h3 class="galerie-p1">Une galerie des costumes en vidéo</h3>
        <p class="galerie-p1">
            <span style="color:#FFFae4">2010 | </span>RENCONTRE ANODINE<br>
            <br>
            <span style="color:#FFFae4">CATÉGORIE : </span>AUDIOVISUELLE<br>
            <span style="color:#FFFae4">RÉALISATRICE : </span>FLORIANE GIORDANA<br>
            <span style="color:#FFFae4">PRODUCTION : </span>EVDLUNE PROD<br>
        </p>
        <p class="galerie-p2">
            Ce court-métrage est une comédie absurde, muet, en noir et blanc.<br>
            Vous vous retrouvez nez-à-nez avec un étranger qui vous emboite le pas.<br>
            <br>
            Voici le making-of du court-métrage.
        </p>
        <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"> 
            <iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/xpx4lv" width="100%" height="100%" allowfullscreen > </iframe> 
        </div>
    </div>
</section> 
{% endblock %}
