{% extends 'base.html.twig' %}

{% block body %}
<style>
    
</style>

<section id="home">
    <header>
        <div class="logo1"></div>
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a> <!--id=mobile-nav désigne le display de la version mobile du menu // .menu-nav est l'icon hamburger-->
        <div class="sticky-nav logo3 logo2"> </div><!-- class dénommée en fonction du waypoint (js) d'appel pour appliquer le menu fixe (avec .stuck) selon l'évvénement scroll avec le logo3 (sans baseline et sans arabesque pour mobile... logo2 pour tablette et desktop) -->
        <nav id="menu"> <!-- id, spécifié pour le display de la version desktop du menu-->
            <ul id="menu-nav"> <!-- appel de l'id "menu-nav" placé ici (l'id ne sert pas sans ce lien), en relation avec le href de 'a' 'id' "mobile-nav" -->
                <li><a class="current" href="#home">ACCUEIL<br><img src="img/mobile/mobile-menu-arabesque_fffae4.png"></a></li>
                <li><a href="#shop">BOUTIQUE<br><img src="img/mobile/mobile-menu-pattern_4e473e.png"></a></li>
                <li><a href="#news">ATELIERS<br><img src="img/mobile/mobile-menu-arabesque_4e473e.png"></a></li>
                <li><a href="#service">SERVICES<br><img src="img/mobile/mobile-menu-pattern_4e473e.png"></a></li>
                <li><a href="galerie.html">GALERIES<br><img src="img/mobile/mobile-menu-arabesque_4e473e.png"></a></li>
                <li><a href="#about">ACTIVITÉS<br><img src="img/mobile/mobile-menu-pattern_4e473e.png"></a></li>
                <li><a href="" data-toggle="modal" data-target="#staticBackdrop">CONTACT<br><img src="img/mobile/mobile-menu-arabesque_4e473e.png"></a></li>
            </ul>
        </nav>
    </header>
    <div class="ouverture">
        <img class="covermob" src="img/tablet/angeliquecalfatidotcom_cover834x829.jpg">
        <img class="covertabland" src="img/tablet/angeliquecalfatidotcom_desktop-cover1366x897.jpg">
        <img class="coverdesk" src="img/desktop/angeliquecalfatidotcom_desktop-cover1920x840.jpg"> 
    </div>
</section>  
<div id="bloc-activity">
    <div class="container container-sm container-md container-lg container-xl">
        <div id="bloc-actimob">
            <div class="row">
                <div class="col col-sm">
                    <h3 class="mobile-p1">Des activités exercées pour les professionnels et les particuliers</h3>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm">
                    <p class="mobile-p1">
                        Costumière de scène, styliste, couturière, créatrice de chapeaux, coiffes et accessoires, masque covid, formatrice et animatrice d'ateliers...<br>
                        <br>
                        <button class="clair">EN SAVOIR PLUS</button>
                    </p>
                </div>
            </div>
        </div>
        <div id="bloc-acti123">
            <div class="row no-gutters">
                <div class="col-md col-lg col-xl">
                    <h3 class="p1">Des activités exercées pour les professionnels et les particuliers</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4 b1">
                    <h5 class="p2">Costumière de scène, Styliste, Couturière</h5>
                    <p class="p3">
                        Lorem elitipsum por il dolor sit amet, consectetur par adipisicing elit,  
                        por le incididunt vous camut labore...<br>
                        <button class="clair">EN SAVOIR PLUS</button>
                    </p>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 b2">
                    <h5 class="p2">Créatrice de chapeaux, coiffes et accessoires</h5>
                    <p class="p3">
                        Lorem elit ipsum por il dolor sit amet, consectetur par adipisicing elit,  
                        por le incididunt vous camut labore...<br>
                        <button class="clair">DÉCOUVRIR</button>
                    </p>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 b3">
                    <h5 class="p2">Formatrice et Animatrice d'ateliers</h5>
                    <p class="p3">
                        Lorem elit ipsum por dolor il sit amet, consectetur par adipisicing elit, 
                        por le incididunt vous camut labore...<br>
                        <button class="clair">VOIR LES DATES</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bloc-services"> 
    <div class="container container-sm container-md container-lg container-xl">
        <div class="row no-gutters">
            <div class="col col-sm col-md col-lg col-xl">
                <div id="modules">
                    <ul>
                        <li class="centre"><img src="img/angeliquecalfatidotcom_activite1.png">
                            <h4>RETOUCHE</h4>
                            <p class="p5">Sur une, 2 ou 3<br>lignes et centré.</p>
                            <button class="red">VOIR LES TARIFS</button>
                        </li>
                        <li class="centre"><img src="img/angeliquecalfatidotcom_activite2.png">
                            <h4>COUTURE</h4>
                            <p class="p5">Sur une, 2 ou 3<br>lignes et centré.</p>
                            <button class="red">VOIR MES SERVICES</button>
                        </li>
                        <li class="centre"><img src="img/angeliquecalfatidotcom_activite3.png">
                            <h4>CHAPEAUX</h4>
                            <p class="p5">Sur une, 2 ou 3<br>lignes et centré.</p>
                            <button class="red">VOIR LA BOUTIQUE</button>
                        </li>
                        <li class="centre"><img src="img/angeliquecalfatidotcom_activite4.png">
                            <h4>SUR MESURE</h4>
                            <p class="p5">Sur une, 2 ou 3<br>lignes et centré.</p>
                            <button class="red">DEMANDER UN RDV</button>
                        </li>
                        <li class="centre"><img src="img/angeliquecalfatidotcom_activite5.png">
                            <h4>ATELIERS</h4>
                            <p class="p5">Sur une, 2 ou 3<br>lignes et centré.</p>
                            <button class="red">VOIR LES ACTUS</button>
                        </li>
                        <li class="centre"><img src="img/angeliquecalfatidotcom_activite6.png">
                            <h4>COSTUMES</h4>
                            <p class="p5">Sur une, 2 ou 3<br>lignes et centré.</p>
                            <button class="red">VOIR LES GALERIES</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="bloc-encadre">
        <div class="container container-sm container-md container-lg container-xl">
            <div class="row no-gutters">
                <div class="col col-sm col-md col-lg col-xl">
                    <div id="cadre-encadre">
                        <div class="encadre">
                            <h2>Retouches,<br>réparations,<br>restauration<br>de vêtements</h2>
                            <p class="p6">
                                Lorem ipsum dolor dejndo amet, consectetur adipisicin elit, sed do eiusmod tempor por incididu...
                                <span Class="p6tab">
                                nt ut labore et dolore magna aliqua. Ut enim ad<br>
                                minim veniam, quis nostrud exercitation ullam<br>
                                co laboris nisi ut aliquip ex ea commodo...</span>
                            </p>
                            <button class="clair">EN SAVOIR PLUS</button>
                        </div>
                        <img class="costume1" src="img/desktop/angeliquecalfatidotcom_costumeleft.png" alt="costume dos">
                        <img class="costume2" src="img/desktop/angeliquecalfatidotcom_costumemidle.png" alt="costume trois-quart">
                        <img class="costume3" src="img/desktop/angeliquecalfatidotcom_costumeright.png" alt="costume face">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bloc-boutique">
    <div class="container container-sm container-md container-lg container-xl">
        <div class="row no-gutters">
            <div class="col col-sm col-md col-lg col-xl">
                <h3>Mes créations fait main en boutique</h3>
            </div>
        </div>
    </div>
    <div id="galerie">
        <!-- <div class="clicg"><a href="#0"><span class="lnr lnr-chevron-left"></span></a></div> -->
        <ul>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_article1.jpg" alt="chapeau fleuri"></a></li>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_article2.jpg" alt="chapeau noir"></a></li>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_article3.jpg" alt="chapeaux rose"></a></li>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_article4.jpg" alt="accessoire fleuri"></a></li>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_desktop-article5.jpg" alt="accessoire fleuri"></a></li>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_desktop-article6.jpg" alt="accessoire fleuri"></a></li>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_desktop-article7.jpg" alt="accessoire fleuri"></a></li>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_desktop-article8.jpg" alt="accessoire fleuri"></a></li>
            <li><a href="#0"><img src="img/desktop/angeliquecalfatidotcom_desktop-article9.jpg" alt="accessoire fleuri"></a></li>
        </ul>
        <!-- <div class="clicd"><a href="#0"><span class="lnr lnr-chevron-right"></span></a></div> -->
    </div>
</div>
<div class="barre-contact"></div>
<div id="bloc-contact">
    <div class="container container-sm container-md container-lg container-xl">
        <div class="row">
            <div class="col col-sm col-md col-lg col-xl">
                <ul>
                    <li><a href="" data-toggle="modal" data-target="#staticBackdrop" title="Contactez-moi"><span class="mailico"></span></a></li>
                    <li><a href="https://www.facebook.com/angelique.calfaticostumiere" title="Suivez-moi sur Facebook" target="_blank" rel="nofollow"><span class="fbico"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>
    <hr>
    <p class="p7">@ Copyright 2020 Angélique Calfati - Tous droits réservés | Contactez-moi : <script type="text/javascript">document.write('<a href="mailto:'+first + '@' + last+'">'+first + '@' + last+'<\/a>');</script>
        <noscript>S'il vous plait, activez javascript ou utilisez mon <a href="/contact.html">formulaire de contact</a></noscript> |<a href="#0">Mentions Légales</a> | <a href="#0">Crédits</a> | 
        <a href="#0">Plan du site</a> | <a href="#0">CGV</a> | Désign & Développement : <a href="https://www.gidl.fr" target="_blank" rel="follow">GiDL</a>
    </p>
</footer>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div style="background-color:#fff;" class="modal-content">
            <div style="padding:1rem 1rem 0rem; border-bottom:0px;" class="modal-header">
                <h6 class="modal-title">Besoin d'information, d'un devis ou bien votre projet à me soumettre ?<br>Discutons-en.</h6>
                <button style="width:3.75rem; text-align:right; font-family:Myriad Pro Bold; background-color:#fff; border:none;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div style="padding:0rem 1rem 1rem;" class="modal-body">
                <form method="post" action="submit.php" class="form-group" >
                    <input placeholder="Votre nom" type="text" id="name" name="name" required pattern="^[A-Za-z '-]+$" maxlength="20" >
                    <input placeholder="Votre e-mail" type="email" id="email" name="email" required pattern="^[A-Za-z]+@{1}[A-Za-z]+\.{1}[A-Za-z]{2,]$">
                    <p class="antispam">Laissez ce champ vide:
                        <br><input name="url"></p>
                    <textarea placeholder="Votre message" type="text" name="message" required="" rows="7" cols="30"></textarea>
                    <div class="btnform">
                        <button class="reset" type="reset" value="effacer">effacer</button>
                        <button class="envoi" type="submit" value="envoyez">envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="toast" id="toast1" data-delay="10000" style="position:absolute; z-index:2000; top:1.25rem; right:2.5rem; min-width:240px;" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Merci !</strong>
        <small>À l'instant</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
    </div>
    <div  style="color:#000;" class="toast-body">
        Je reviendrai vers vous aussitôt que possible.
    </div>
</div>
{% endblock %}
